@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"); */

html {
  @apply font-poppins;
}

.counter-no {
  @apply text-5xl font-bold sm:text-7xl;
  background: -webkit-linear-gradient(#006da5, #6e6e6ec2);
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
  color: #ffffff;
}

@layer utilities {
  .news-front-img {
    @apply absolute inset-y-0 z-20 my-auto h-full max-h-full rounded-2xl border border-gray-200 bg-white p-1 shadow transition-all duration-500;
  }

  .news-back-img {
    @apply absolute inset-y-0 z-10 my-auto h-full max-h-full translate-x-3/4 scale-[90%] rounded-2xl border border-gray-200 bg-white p-1 shadow transition-all duration-500;
  }

  .news-hidden-front-img {
    @apply absolute inset-y-0 my-auto h-full max-h-full  scale-[60%] rounded-2xl border border-gray-200 bg-white p-1 shadow transition-all duration-500;
    visibility: hidden;
    opacity: 0;
    /*transition: visibility 0s linear 500ms, opacity 500ms; */
  }

  .news-hidden-back-img {
    @apply absolute inset-y-0 my-auto h-full max-h-full translate-x-3/4 scale-[60%] rounded-2xl border border-gray-200 bg-white p-1 shadow transition-all duration-500;
    visibility: hidden;
    opacity: 0;
    /*transition: visibility 0s linear 500ms, opacity 500ms; */
  }

  .mission {
    list-style-type: none;
    padding-left: 0;
  }

  .mission li {
    padding-left: 20px;
    position: relative;
  }

  .mission li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px; /* Adjust the vertical positioning as needed */
    width: 13px; /* Width of the SVG */
    height: 13px; /* Height of the SVG */
    background-image: url('data:image/svg+xml;utf8,<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.80123 6.74078L6.96697 5.67106C6.70481 5.51751 6.39395 5.4281 6.06055 5.4281C5.12878 5.4281 4.37073 6.12371 4.37073 6.97873C4.37073 7.83376 5.12878 8.52937 6.06055 8.52937C6.99232 8.52937 7.75038 7.83376 7.75038 6.97873C7.75038 6.67282 7.65294 6.38754 7.48561 6.14698L6.31987 7.21669L5.80123 6.74078Z" fill="%23006DA5"/><path d="M11.8636 6.9786C11.8636 6.06405 11.609 5.1697 11.1256 4.37822L9.68069 4.55991C10.2211 5.23907 10.5405 6.07518 10.5405 6.9786C10.5405 9.24537 8.53085 11.0895 6.06057 11.0895C3.5903 11.0895 1.58064 9.24537 1.58064 6.9786C1.58064 4.71182 3.59035 2.86768 6.0606 2.86768C7.04511 2.86768 7.95627 3.16083 8.6964 3.65669L8.8944 2.33076C8.03187 1.88719 7.05724 1.65356 6.0606 1.65356C4.51055 1.65356 3.05327 2.20747 1.95725 3.21324C0.861194 4.21899 0.257568 5.55623 0.257568 6.9786C0.257568 8.40096 0.861194 9.7382 1.95725 10.744C3.05327 11.7497 4.51053 12.3036 6.0606 12.3036C7.61066 12.3036 9.06792 11.7497 10.1639 10.744C11.26 9.7382 11.8636 8.40098 11.8636 6.9786Z" fill="%23006DA5"/><path d="M6.06054 3.54077C3.99474 3.54077 2.31409 5.08297 2.31409 6.97863C2.31409 8.87428 3.99472 10.4165 6.06054 10.4165C8.12636 10.4165 9.80699 8.87428 9.80699 6.97863C9.80699 6.15174 9.48713 5.39216 8.95509 4.79843L8.01296 5.66297C8.3088 6.03164 8.48389 6.48669 8.48389 6.97863C8.48389 8.20479 7.39679 9.20235 6.06056 9.20235C4.72434 9.20235 3.63723 8.20479 3.63723 6.97863C3.63723 5.75247 4.72434 4.75491 6.06056 4.75491C6.59666 4.75491 7.09253 4.91557 7.49432 5.18705L8.43646 4.32252C7.78941 3.83426 6.96165 3.54077 6.06054 3.54077Z" fill="%23006DA5"/><path d="M11.2677 0.816406L9.63755 2.31225L9.39801 3.91621L11.146 3.69641L12.7761 2.20056L11.6758 1.82608L11.2677 0.816406Z" fill="%23006DA5"/></svg>');
  }

  .left-animated-menu {
    li {
      @apply transition ease-in-out hover:translate-x-1;
    }
  }

  nav.dark {
    @apply fixed top-0 z-50 w-full border-gray-200 px-10;

    .main-wrapper {
      @apply mx-auto flex max-w-screen-xl flex-wrap items-center justify-between py-3;

      .logo {
        @apply h-12 w-32 text-white;
      }
    }

    #menu-header {
      @apply mt-4 flex flex-col rounded-lg border border-gray-100 bg-black/50 p-4 font-medium bg-blend-darken backdrop-blur-lg rtl:space-x-reverse md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-transparent md:p-0 md:backdrop-blur-none;
    }

    .primary-li-item {
      @apply block rounded px-3 py-2 text-white transition ease-in-out md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-primary-800;
    }

    .primary-a-item {
      @apply block rounded px-3 py-2 font-poppins font-normal md:border-0 md:p-0;
    }

    .primary-li-item {
      div {
        @apply w-full divide-y divide-gray-100 rounded-lg bg-black/50 font-normal outline outline-1 outline-white md:absolute md:right-0 md:z-10 md:w-44 md:shadow;
      }
      button {
        @apply flex w-full items-center justify-between rounded px-3 py-2 font-poppins font-normal text-white md:w-auto md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-primary-800;
      }

      ul {
        @apply py-2 text-sm text-white;

        a {
          @apply block px-4 py-2 font-poppins font-normal transition ease-in-out hover:text-primary-800;
        }
      }

      .btn {
        @apply px-4 py-1 text-center font-poppins text-sm font-normal text-white outline outline-1 outline-primary-800 hover:bg-black/50;
      }
    }
  }

  nav.light {
    @apply fixed top-0 z-50 w-full border-gray-200 bg-white px-10 shadow-md;

    .main-wrapper {
      @apply mx-auto flex max-w-screen-xl flex-wrap items-center justify-between py-3;

      .logo {
        @apply h-12 w-32 text-primary-800;
      }
    }

    #menu-header {
      @apply mt-4 flex flex-col rounded-lg border border-gray-100 bg-white p-4 font-medium bg-blend-darken backdrop-blur-lg rtl:space-x-reverse md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-transparent md:p-0 md:backdrop-blur-none;
    }

    .primary-li-item {
      @apply block rounded px-3 py-2 text-black transition ease-in-out md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-primary-800;
    }

    .primary-a-item {
      @apply block rounded px-3 py-2 font-poppins font-normal  md:border-0 md:p-0 md:hover:bg-transparent;
    }

    .primary-li-item {
      div {
        @apply w-full divide-y divide-gray-100 rounded-lg bg-white font-normal md:absolute md:right-0 md:z-10 md:w-44 md:shadow;
      }
      button {
        @apply flex w-full items-center justify-between rounded px-3 py-2 font-poppins font-normal text-black md:w-auto md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-primary-800;
      }

      ul {
        @apply py-2 text-sm text-black;

        a {
          @apply block px-4 py-2 font-poppins font-normal transition ease-in-out hover:text-primary-800;
        }
      }

      .btn {
        @apply bg-white px-4 py-1 text-center font-poppins text-sm font-normal text-primary-800 outline outline-1 outline-primary-800;
      }
    }
  }

  /* WordPress Blog Styles */
  mark {
    @apply inline-block py-0 pl-1 pr-1;
  }
}
